---
import Base from '@layouts/Base.astro';
import Profile from '../../components/profile/Profile';

const { id } = Astro.params;
---

<Base
  metadata={{
    title: 'Profile',
  }}
>
  <div>
    <Profile client:load />
  </div>
</Base>
