---
import Base from '@layouts/Base.astro';
import Home from '@src/components/home/Home';
import NormalLayout from "../../layouts/NormalLayout.astro";
---

<Base
  metadata={{
    title: 'Home',
  }}
>
    <NormalLayout>
        <div>
            <Home client:only="react" />
        </div>
    </NormalLayout>
</Base>
