---
import Base from '@layouts/Base.astro';
import Home from "../../components/home/Home";
---

<Base
  metadata={{
    title: 'Home',
  }}
>
    <div>
       <Home client:load />
    </div>

</Base>
