---
import Base from '@layouts/Base.astro';
import PageViewCollection from '../../components/home/PageViewCollection';
---

<Base
  metadata={{
    title: 'Home',
  }}
>
  <PageViewCollection page='Home' client:load />
  <div class='w-96 h-96 bg-amber-200 hover:bg-amber-600'></div>
</Base>
