---
import Base from '@layouts/Base.astro';
import Home from '@src/to-be-organized/Home';
Astro.redirect('/explore')
---

<Base
  metadata={{
    title: 'Home',
  }}
>
    <div>
       <Home client:load />
    </div>
</Base>
