---
import Base from '@layouts/Base.astro';
import Home from '@src/components/home/Home';
---

<Base
  metadata={{
    title: 'Home',
  }}
>
    <div>
       <Home client:only="react" />
    </div>
</Base>
